* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    text-align: center;
}

.fas {
    color: lightblue;
}

h1 {
    padding: 20px;
    margin: auto;
    text-align: center;
}

.color {
    color: lightblue;
}



#book-form {
    padding: 20px;
    font-size: 25px;
    margin: auto;

   
}
.form-control{
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 20px;

}



button {
    width: 50vh;
    background-color:lightblue;
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.table {
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    width: 600px;
    border: 1px solid gray;
}





#book-list {
}
